<h1>Hello</h1>

<p>Les restaurants de Pierre-Marin :</p>

<ol>
  <% @restaurants.each do |restaurant| %>
  <li>
      <%= restaurant.name %>
      <%= link_to "Lien vers #{restaurant.name}", restaurant_path(restaurant)%>
  </li>
  <% end %>
</ol>

<%= link_to "Créer un restaurant", new_restaurant_path %>
